@import url("https://cdn.jsdelivr.net/gh/BeviProjects/BeviCSS@latest/dist/compressed/bevi.css");

body{
  -webkit-font-smoothing: antialiased;
}

main{
  min-height: 100vh;
  background-color: #fff;
  padding-top: calc(4rem + 2rem);
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(206.57deg, #d6dbdc, #fff 83.33%);
  }
}

.bg-black-40{
  background-color: rgba(0, 0, 0, 0.4);
}

.drawer-icon{
  width: 2rem;
  height: 0.5rem;
  background-color: var(--bv-gray-95);
  border-radius: 0.5rem;
  cursor: grab;
}

.bg-black-40{
  background-color: rgba(0, 0, 0, 0.4);
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

.content-icon-skeleton{
  & .viewport{
    width: 256px;
    height: 256px;
  } 
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 95%);
  }

  100% {
    background-color: hsl(0, 0%, 80%);
  }
}

.letter-box{
  width: 3rem
}