.animated-tabs {
	& .button {
		all: unset;
		position: relative;
		cursor: pointer;
		padding: 0.25rem 0.5rem;
		min-height: 1.25rem;
	}

	& .bubble {
		box-shadow: 0 0 0 1px var(--bv-ciano-70);
	}
}
