.animated-tabs{

  & .button{
    all: unset;
    position: relative;
    cursor: pointer;
    padding: .25rem .5rem;
    min-height: 1.25rem;
  }

  & .bubble{
    box-shadow: 0 0 0 1px var(--bv-ciano-70);
  }
}