.tooltip{
  & .anchor{
    bottom: calc(100% + 0.25rem);
    left: 50%;
    transform: translateX(-50%);
  }

  & .message{
    max-width: 256px;
    
    & span{
      word-break: keep-all;
    }
  }
}